name: CI - Python Package (Conda)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.9", "3.10", "3.11" ]

    steps:
    - uses: actions/checkout@v4

    - uses: conda-incubator/setup-miniconda@v3
      with:
        activate-environment: fuzzy-env
        python-version: ${{ matrix.python-version }}
        auto-update-conda: true
        channels: conda-forge,defaults
        environment-file: environment.yml

    - run: flake8 .
    - run: pytest
